In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [2]:
import webbrowser
website = 'https://en.wikipedia.org/wiki/Premier_League_records_and_statistics'
webbrowser.open(website)

True

In [3]:
epl_top_scorer = pd.read_clipboard()

In [4]:
epl_top_scorer

,Rank,Name,Goals,Games,Goals.1,per,game,Playing,position,First,goal,Last,goal.1
0,1,England,Alan,Shearer,260,441,0.59,Forward,1992–93,2005–06,NaN,NaN,NaN
1,2,England,Wayne,Rooney,208,486,0.43,Forward,2002–03,2017–18,NaN,NaN,NaN
2,3,England,Andy,Cole,187,414,0.45,Forward,1993–94,2006–07,NaN,NaN,NaN
3,4,England,Frank,Lampard,177,609,0.29,Midfield,1997–98,2014–15,NaN,NaN,NaN
4,5,France,Thierry,Henry,175,258,0.68,Forward,1999–2000,2011–12,NaN,NaN,NaN
5,6,England,Robbie,Fowler,163,379,0.43,Forward,1993–94,2006–07,NaN,NaN,NaN
6,7,England,Jermain,Defoe,161,486,0.33,Forward,2001–02,2017–18,NaN,NaN,NaN
7,8,England,Michael,Owen,150,326,0.46,Forward,1996–97,2012–13,NaN,NaN,NaN
8,9,England,Les,Ferdinand,149,351,0.42,Forward,1992–93,2004–05,NaN,NaN,NaN
9,10,England,Teddy,Sheringham,146,418,0.35,Forward,1992–93,2006–07,NaN,NaN,NaN

In [7]:
epl_df = pd.read_clipboard()

In [8]:
epl_df

,,,#,Team,M.,W,D,L,goals,Dif,Pt.
1,Liverpool,FC,Liverpool,FC,4089,1903,1021,1165,6768:4976,1792,6730
2,Arsenal,FC,Arsenal,FC,4088,1860,1050,1178,6773:5129,1644,6630
3,Everton,FC,Everton,FC,4473,1820,1123,1530,6966:6201,765,6583
4,Manchester,United,Manchester,United,3732,1786,918,1028,6437:4745,1692,6276
5,Aston,Villa,Aston,Villa,4070,1643,968,1459,6608:6077,531,5897
6,Manchester,City,Manchester,City,3574,1414,870,1290,5575:5187,388,5112

In [10]:
epl_df.columns

Index([u'#', u'Team', u'M.', u'W', u'D', u'L', u'goals', u'Dif', u'Pt.'], dtype='object')

In [11]:
epl_df.Team

1  Liverpool   FC            FC
2  Arsenal     FC            FC
3  Everton     FC            FC
4  Manchester  United    United
5  Aston       Villa      Villa
6  Manchester  City        City
Name: Team, dtype: object

In [12]:
cric = pd.read_clipboard()

In [13]:
cric

,Player,Span,Mat,Inns,NO,Runs,HS,Ave,BF,SR,100,50,0
0,SR Tendulkar (INDIA),1989-2012,463,452,41,18426,200*,44.83,21367,86.23,49,96,20
1,KC Sangakkara (Asia/ICC/SL),2000-2015,404,380,41,14234,169,41.98,18048,78.86,25,93,15
2,RT Ponting (AUS/ICC),1995-2012,375,365,39,13704,164,42.03,17046,80.39,30,82,20
3,ST Jayasuriya (Asia/SL),1989-2011,445,433,18,13430,189,32.36,14725,91.20,28,68,34
4,DPMD Jayawardene (Asia/SL),1998-2015,448,418,39,12650,144,33.37,16020,78.96,19,77,28
5,Inzamam-ul-Haq (Asia/PAK),1991-2007,378,350,53,11739,137*,39.52,15812,74.24,10,83,20
6,JH Kallis (Afr/ICC/SA),1996-2014,328,314,53,11579,139,44.36,15885,72.89,17,86,17
7,SC Ganguly (Asia/INDIA),1992-2007,311,300,23,11363,183,41.02,15416,73.70,22,72,16
8,R Dravid (Asia/ICC/INDIA),1996-2011,344,318,40,10889,153,39.16,15284,71.24,12,83,13
9,BC Lara (ICC/WI),1990-2007,299,289,32,10405,169,40.48,13086,79.51,19,63,16
10,TM Dilshan (SL),1999-2016,330,303,41,10290,161*,39.27,11933,86.23,22,47,11
11,MS Dhoni (Asia/INDIA),2004-2018,318,272,78,9967,183*,51.37,11274,88.40,10,67,8
12,Mohammad Yousuf (Asia/PAK),1998-2010,288,273,40,9720,141*,41.71,12942,75.10,15,64,15
13,AC Gilchrist (AUS/ICC),1996-2008,287,279,11,9619,172,35.89,9922,96.94,16,55,19
14,V Kohli (INDIA),2008-2018,208,200,35,9588,183,58.10,10405,92.14,35,46,12

In [14]:
cric.columns

Index([u'Player', u'Span', u'Mat', u'Inns', u'NO', u'Runs', u'HS', u'Ave',
       u'BF', u'SR', u'100', u'50', u'0'],
      dtype='object')

In [15]:
cric.Player

0            SR Tendulkar (INDIA)
1     KC Sangakkara (Asia/ICC/SL)
2            RT Ponting (AUS/ICC)
3         ST Jayasuriya (Asia/SL)
4      DPMD Jayawardene (Asia/SL)
5       Inzamam-ul-Haq (Asia/PAK)
6          JH Kallis (Afr/ICC/SA)
7         SC Ganguly (Asia/INDIA)
8       R Dravid (Asia/ICC/INDIA)
9                BC Lara (ICC/WI)
10                TM Dilshan (SL)
11          MS Dhoni (Asia/INDIA)
12     Mohammad Yousuf (Asia/PAK)
13         AC Gilchrist (AUS/ICC)
14                V Kohli (INDIA)
Name: Player, dtype: object

In [16]:
DataFrame(cric,columns=['Player','Mat','100','50','0'])

                         Player  Mat  100  50   0
0          SR Tendulkar (INDIA)  463   49  96  20
1   KC Sangakkara (Asia/ICC/SL)  404   25  93  15
2          RT Ponting (AUS/ICC)  375   30  82  20
3       ST Jayasuriya (Asia/SL)  445   28  68  34
4    DPMD Jayawardene (Asia/SL)  448   19  77  28
5     Inzamam-ul-Haq (Asia/PAK)  378   10  83  20
6        JH Kallis (Afr/ICC/SA)  328   17  86  17
7       SC Ganguly (Asia/INDIA)  311   22  72  16
8     R Dravid (Asia/ICC/INDIA)  344   12  83  13
9              BC Lara (ICC/WI)  299   19  63  16
10              TM Dilshan (SL)  330   22  47  11
11        MS Dhoni (Asia/INDIA)  318   10  67   8
12   Mohammad Yousuf (Asia/PAK)  288   15  64  15
13       AC Gilchrist (AUS/ICC)  287   16  55  19
14              V Kohli (INDIA)  208   35  46  12

In [17]:
DataFrame(cric,columns=['Player','Mat','100','50','0','country'])

                         Player  Mat  100  50   0  country
0          SR Tendulkar (INDIA)  463   49  96  20      NaN
1   KC Sangakkara (Asia/ICC/SL)  404   25  93  15      NaN
2          RT Ponting (AUS/ICC)  375   30  82  20      NaN
3       ST Jayasuriya (Asia/SL)  445   28  68  34      NaN
4    DPMD Jayawardene (Asia/SL)  448   19  77  28      NaN
5     Inzamam-ul-Haq (Asia/PAK)  378   10  83  20      NaN
6        JH Kallis (Afr/ICC/SA)  328   17  86  17      NaN
7       SC Ganguly (Asia/INDIA)  311   22  72  16      NaN
8     R Dravid (Asia/ICC/INDIA)  344   12  83  13      NaN
9              BC Lara (ICC/WI)  299   19  63  16      NaN
10              TM Dilshan (SL)  330   22  47  11      NaN
11        MS Dhoni (Asia/INDIA)  318   10  67   8      NaN
12   Mohammad Yousuf (Asia/PAK)  288   15  64  15      NaN
13       AC Gilchrist (AUS/ICC)  287   16  55  19      NaN
14              V Kohli (INDIA)  208   35  46  12      NaN

In [18]:
cric

,Player,Span,Mat,Inns,NO,Runs,HS,Ave,BF,SR,100,50,0
0,SR Tendulkar (INDIA),1989-2012,463,452,41,18426,200*,44.83,21367,86.23,49,96,20
1,KC Sangakkara (Asia/ICC/SL),2000-2015,404,380,41,14234,169,41.98,18048,78.86,25,93,15
2,RT Ponting (AUS/ICC),1995-2012,375,365,39,13704,164,42.03,17046,80.39,30,82,20
3,ST Jayasuriya (Asia/SL),1989-2011,445,433,18,13430,189,32.36,14725,91.20,28,68,34
4,DPMD Jayawardene (Asia/SL),1998-2015,448,418,39,12650,144,33.37,16020,78.96,19,77,28
5,Inzamam-ul-Haq (Asia/PAK),1991-2007,378,350,53,11739,137*,39.52,15812,74.24,10,83,20
6,JH Kallis (Afr/ICC/SA),1996-2014,328,314,53,11579,139,44.36,15885,72.89,17,86,17
7,SC Ganguly (Asia/INDIA),1992-2007,311,300,23,11363,183,41.02,15416,73.70,22,72,16
8,R Dravid (Asia/ICC/INDIA),1996-2011,344,318,40,10889,153,39.16,15284,71.24,12,83,13
9,BC Lara (ICC/WI),1990-2007,299,289,32,10405,169,40.48,13086,79.51,19,63,16
10,TM Dilshan (SL),1999-2016,330,303,41,10290,161*,39.27,11933,86.23,22,47,11
11,MS Dhoni (Asia/INDIA),2004-2018,318,272,78,9967,183*,51.37,11274,88.40,10,67,8
12,Mohammad Yousuf (Asia/PAK),1998-2010,288,273,40,9720,141*,41.71,12942,75.10,15,64,15
13,AC Gilchrist (AUS/ICC),1996-2008,287,279,11,9619,172,35.89,9922,96.94,16,55,19
14,V Kohli (INDIA),2008-2018,208,200,35,9588,183,58.10,10405,92.14,35,46,12

head for first 5 rows or passing a number will give that many rows

In [19]:
cric.head()

,Player,Span,Mat,Inns,NO,Runs,HS,Ave,BF,SR,100,50,0
0,SR Tendulkar (INDIA),1989-2012,463,452,41,18426,200*,44.83,21367,86.23,49,96,20
1,KC Sangakkara (Asia/ICC/SL),2000-2015,404,380,41,14234,169,41.98,18048,78.86,25,93,15
2,RT Ponting (AUS/ICC),1995-2012,375,365,39,13704,164,42.03,17046,80.39,30,82,20
3,ST Jayasuriya (Asia/SL),1989-2011,445,433,18,13430,189,32.36,14725,91.20,28,68,34
4,DPMD Jayawardene (Asia/SL),1998-2015,448,418,39,12650,144,33.37,16020,78.96,19,77,28

tail for last 5 rows

In [20]:
cric.tail()

,Player,Span,Mat,Inns,NO,Runs,HS,Ave,BF,SR,100,50,0
10,TM Dilshan (SL),1999-2016,330,303,41,10290,161*,39.27,11933,86.23,22,47,11
11,MS Dhoni (Asia/INDIA),2004-2018,318,272,78,9967,183*,51.37,11274,88.40,10,67,8
12,Mohammad Yousuf (Asia/PAK),1998-2010,288,273,40,9720,141*,41.71,12942,75.10,15,64,15
13,AC Gilchrist (AUS/ICC),1996-2008,287,279,11,9619,172,35.89,9922,96.94,16,55,19
14,V Kohli (INDIA),2008-2018,208,200,35,9588,183,58.10,10405,92.14,35,46,12

Information on a index

In [21]:
cric.ix[14]

C:\ProgramData\Anaconda2\lib\site-packages\ipykernel_launcher.py:1: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  """Entry point for launching an IPython kernel.

Player    V Kohli (INDIA)
Span            2008-2018
Mat                   208
Inns                  200
NO                     35
Runs                 9588
HS                    183
Ave                  58.1
BF                  10405
SR                  92.14
100                    35
50                     46
0                      12
Name: 14, dtype: object

In [22]:
cric['retired']= 'no'

In [23]:
cric

,Player,Span,Mat,Inns,NO,Runs,HS,Ave,BF,SR,100,50,0,retired
0,SR Tendulkar (INDIA),1989-2012,463,452,41,18426,200*,44.83,21367,86.23,49,96,20,no
1,KC Sangakkara (Asia/ICC/SL),2000-2015,404,380,41,14234,169,41.98,18048,78.86,25,93,15,no
2,RT Ponting (AUS/ICC),1995-2012,375,365,39,13704,164,42.03,17046,80.39,30,82,20,no
3,ST Jayasuriya (Asia/SL),1989-2011,445,433,18,13430,189,32.36,14725,91.20,28,68,34,no
4,DPMD Jayawardene (Asia/SL),1998-2015,448,418,39,12650,144,33.37,16020,78.96,19,77,28,no
5,Inzamam-ul-Haq (Asia/PAK),1991-2007,378,350,53,11739,137*,39.52,15812,74.24,10,83,20,no
6,JH Kallis (Afr/ICC/SA),1996-2014,328,314,53,11579,139,44.36,15885,72.89,17,86,17,no
7,SC Ganguly (Asia/INDIA),1992-2007,311,300,23,11363,183,41.02,15416,73.70,22,72,16,no
8,R Dravid (Asia/ICC/INDIA),1996-2011,344,318,40,10889,153,39.16,15284,71.24,12,83,13,no
9,BC Lara (ICC/WI),1990-2007,299,289,32,10405,169,40.48,13086,79.51,19,63,16,no
10,TM Dilshan (SL),1999-2016,330,303,41,10290,161*,39.27,11933,86.23,22,47,11,no
11,MS Dhoni (Asia/INDIA),2004-2018,318,272,78,9967,183*,51.37,11274,88.40,10,67,8,no
12,Mohammad Yousuf (Asia/PAK),1998-2010,288,273,40,9720,141*,41.71,12942,75.10,15,64,15,no
13,AC Gilchrist (AUS/ICC),1996-2008,287,279,11,9619,172,35.89,9922,96.94,16,55,19,no
14,V Kohli (INDIA),2008-2018,208,200,35,9588,183,58.10,10405,92.14,35,46,12,no

In [24]:
cric.ix[14]

Player     V Kohli (INDIA)
Span             2008-2018
Mat                    208
Inns                   200
NO                      35
Runs                  9588
HS                     183
Ave                   58.1
BF                   10405
SR                   92.14
100                     35
50                      46
0                       12
retired                 no
Name: 14, dtype: object

In [39]:
retired = Series(['yes','yes','yes','yes','yes','yes','yes','yes','yes','yes'], index = [0,1,2,3,4,5,6,7,8,9])

In [40]:
retired

0    yes
1    yes
2    yes
3    yes
4    yes
5    yes
6    yes
7    yes
8    yes
9    yes
dtype: object

In [41]:
cric['retired']=retired

In [42]:
cric

,Player,Span,Mat,Inns,NO,Runs,HS,Ave,BF,SR,100,50,0,retired
0,SR Tendulkar (INDIA),1989-2012,463,452,41,18426,200*,44.83,21367,86.23,49,96,20,yes
1,KC Sangakkara (Asia/ICC/SL),2000-2015,404,380,41,14234,169,41.98,18048,78.86,25,93,15,yes
2,RT Ponting (AUS/ICC),1995-2012,375,365,39,13704,164,42.03,17046,80.39,30,82,20,yes
3,ST Jayasuriya (Asia/SL),1989-2011,445,433,18,13430,189,32.36,14725,91.20,28,68,34,yes
4,DPMD Jayawardene (Asia/SL),1998-2015,448,418,39,12650,144,33.37,16020,78.96,19,77,28,yes
5,Inzamam-ul-Haq (Asia/PAK),1991-2007,378,350,53,11739,137*,39.52,15812,74.24,10,83,20,yes
6,JH Kallis (Afr/ICC/SA),1996-2014,328,314,53,11579,139,44.36,15885,72.89,17,86,17,yes
7,SC Ganguly (Asia/INDIA),1992-2007,311,300,23,11363,183,41.02,15416,73.70,22,72,16,yes
8,R Dravid (Asia/ICC/INDIA),1996-2011,344,318,40,10889,153,39.16,15284,71.24,12,83,13,yes
9,BC Lara (ICC/WI),1990-2007,299,289,32,10405,169,40.48,13086,79.51,19,63,16,yes
10,TM Dilshan (SL),1999-2016,330,303,41,10290,161*,39.27,11933,86.23,22,47,11,NaN
11,MS Dhoni (Asia/INDIA),2004-2018,318,272,78,9967,183*,51.37,11274,88.40,10,67,8,NaN
12,Mohammad Yousuf (Asia/PAK),1998-2010,288,273,40,9720,141*,41.71,12942,75.10,15,64,15,NaN
13,AC Gilchrist (AUS/ICC),1996-2008,287,279,11,9619,172,35.89,9922,96.94,16,55,19,NaN
14,V Kohli (INDIA),2008-2018,208,200,35,9588,183,58.10,10405,92.14,35,46,12,NaN

delete the column

In [43]:
del cric['retired']

In [44]:
cric

,Player,Span,Mat,Inns,NO,Runs,HS,Ave,BF,SR,100,50,0
0,SR Tendulkar (INDIA),1989-2012,463,452,41,18426,200*,44.83,21367,86.23,49,96,20
1,KC Sangakkara (Asia/ICC/SL),2000-2015,404,380,41,14234,169,41.98,18048,78.86,25,93,15
2,RT Ponting (AUS/ICC),1995-2012,375,365,39,13704,164,42.03,17046,80.39,30,82,20
3,ST Jayasuriya (Asia/SL),1989-2011,445,433,18,13430,189,32.36,14725,91.20,28,68,34
4,DPMD Jayawardene (Asia/SL),1998-2015,448,418,39,12650,144,33.37,16020,78.96,19,77,28
5,Inzamam-ul-Haq (Asia/PAK),1991-2007,378,350,53,11739,137*,39.52,15812,74.24,10,83,20
6,JH Kallis (Afr/ICC/SA),1996-2014,328,314,53,11579,139,44.36,15885,72.89,17,86,17
7,SC Ganguly (Asia/INDIA),1992-2007,311,300,23,11363,183,41.02,15416,73.70,22,72,16
8,R Dravid (Asia/ICC/INDIA),1996-2011,344,318,40,10889,153,39.16,15284,71.24,12,83,13
9,BC Lara (ICC/WI),1990-2007,299,289,32,10405,169,40.48,13086,79.51,19,63,16
10,TM Dilshan (SL),1999-2016,330,303,41,10290,161*,39.27,11933,86.23,22,47,11
11,MS Dhoni (Asia/INDIA),2004-2018,318,272,78,9967,183*,51.37,11274,88.40,10,67,8
12,Mohammad Yousuf (Asia/PAK),1998-2010,288,273,40,9720,141*,41.71,12942,75.10,15,64,15
13,AC Gilchrist (AUS/ICC),1996-2008,287,279,11,9619,172,35.89,9922,96.94,16,55,19
14,V Kohli (INDIA),2008-2018,208,200,35,9588,183,58.10,10405,92.14,35,46,12

In [45]:
data = {'Player':['virat','smith','root'],'Ranking':[1,2,3]}

In [46]:
data

{'Player': ['virat', 'smith', 'root'], 'Ranking': [1, 2, 3]}

In [47]:
icc = DataFrame(data)

In [48]:
icc

  Player  Ranking
0  virat        1
1  smith        2
2   root        3

Pandas DataFrame documentation
https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.html